<!DOCTYPE>
<html>
    <head>
        <title>HowQ</title>
    </head>

    <body>
        <center>
            <h1>ร้านอาหารที่เด็กหอลาดกระบังแนะนำ</h1>
        </center>
        <form method = "POST">
            <input type = "submit" value = "search" style = "float: right">
            <input type = "text" id = "loc" name = "loc" style = "float: right">
        </form>
        <br><br>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <div class = "container">
            <center>
                <h2>Restaurant list</h2>
                <table style = "width: 60%">
                    <th>res_id</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Type_of_food</th>
                    <th>Recommend_menu</th>
                    <th>Opening-Closing_time</th>
                    <th>Contact_number</th>
                    <tr>
                        <td>{{rest_id0}}</td>
                        <td>{{Name0}}</td>
                        <td>{{Location0}}</td>
                        <td>{{Type_of_food0}}</td>
                        <td>{{Recommend_menu0}}</td>
                        <td>{{O_C_time0}}</td>
                        <td>{{Contact_number0}}</td>
                    </tr>
                    <tr>
                        <td>{{rest_id1}}</td>
                        <td>{{Name1}}</td>
                        <td>{{Location1}}</td>
                        <td>{{Type_of_food1}}</td>
                        <td>{{Recommend_menu1}}</td>
                        <td>{{O_C_time1}}</td>
                        <td>{{Contact_number1}}</td>
                    </tr>
                    <tr>
                        <td>{{rest_id2}}</td>
                        <td>{{Name2}}</td>
                        <td>{{Location2}}</td>
                        <td>{{Type_of_food2}}</td>
                        <td>{{Recommend_menu2}}</td>
                        <td>{{O_C_time2}}</td>
                        <td>{{Contact_number2}}</td>
                    </tr>
                    <tr>
                        <td>{{rest_id3}}</td>
                        <td>{{Name3}}</td>
                        <td>{{Location3}}</td>
                        <td>{{Type_of_food3}}</td>
                        <td>{{Recommend_menu3}}</td>
                        <td>{{O_C_time3}}</td>
                        <td>{{Contact_number3}}</td>
                    </tr>
                    <tr>
                        <td>{{rest_id4}}</td>
                        <td>{{Name4}}</td>
                        <td>{{Location4}}</td>
                        <td>{{Type_of_food4}}</td>
                        <td>{{Recommend_menu4}}</td>
                        <td>{{O_C_time4}}</td>
                        <td>{{Contact_number4}}</td>
                    </tr>
                    <tr>
                        <td>{{rest_id5}}</td>
                        <td>{{Name5}}</td>
                        <td>{{Location5}}</td>
                        <td>{{Type_of_food5}}</td>
                        <td>{{Recommend_menu5}}</td>
                        <td>{{O_C_time5}}</td>
                        <td>{{Contact_number5}}</td>
                    </tr>
                    <tr>
                        <td>{{rest_id6}}</td>
                        <td>{{Name6}}</td>
                        <td>{{Location6}}</td>
                        <td>{{Type_of_food6}}</td>
                        <td>{{Recommend_menu6}}</td>
                        <td>{{O_C_time6}}</td>
                        <td>{{Contact_number6}}</td>
                    </tr>
                    <tr>
                        <td>{{rest_id7}}</td>
                        <td>{{Name7}}</td>
                        <td>{{Location7}}</td>
                        <td>{{Type_of_food7}}</td>
                        <td>{{Recommend_menu7}}</td>
                        <td>{{O_C_time7}}</td>
                        <td>{{Contact_number7}}</td>
                    </tr>
                    <tr>
                        <td>{{rest_id8}}</td>
                        <td>{{Name8}}</td>
                        <td>{{Location8}}</td>
                        <td>{{Type_of_food8}}</td>
                        <td>{{Recommend_menu8}}</td>
                        <td>{{O_C_time8}}</td>
                        <td>{{Contact_number8}}</td>
                    </tr>
                    <tr>
                        <td>{{rest_id9}}</td>
                        <td>{{Name9}}</td>
                        <td>{{Location9}}</td>
                        <td>{{Type_of_food9}}</td>
                        <td>{{Recommend_menu9}}</td>
                        <td>{{O_C_time9}}</td>
                        <td>{{Contact_number9}}</td>
                    </tr>
                </table>
            </center>   
        </div>
    </body>
</html>